<%
  var hasHero = is_home();
  var noHeroClass= hasHero ? "" : " header__no-hero";
%>

<header class="header<%= noHeroClass %>">
  <div class="header-wrapper">
    <div class="header__left">
      <% if (!hasHero) { %>
      <div class="header-logo">
        <a href="<%= config.root %>"><%= config.title %></a>
      </div>
      <% } %>
    </div>
    <div class="header__right">
      <%- partial("nav") %>
    </div>
  </div>
</header>

<% if (hasHero) { %> 
  <%- partial("_partial/hero") %>
<% } %>
